## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khor,RU,47.8861,134.9464,15.51,95,56,7.00,broken clouds
1,1,Port Alfred,ZA,-33.5906,26.8910,73.72,85,0,13.31,clear sky
2,2,Puerto Escondido,MX,15.8500,-97.0667,87.93,48,66,11.70,broken clouds
3,3,Malmesbury,ZA,-33.4608,18.7271,71.78,52,10,6.69,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,79.41,71,30,15.28,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (F) you would like for your trip? "))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Alfred,ZA,-33.5906,26.8910,73.72,85,0,13.31,clear sky
3,3,Malmesbury,ZA,-33.4608,18.7271,71.78,52,10,6.69,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,79.41,71,30,15.28,light rain
6,6,Bloomfield,US,40.8068,-74.1854,57.97,20,0,18.41,clear sky
9,9,Businga,CD,3.3333,20.8833,77.34,75,98,5.08,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,Carutapera,BR,-1.1950,-46.0200,78.08,91,99,3.33,overcast clouds
710,710,Butembo,CD,0.1500,29.2833,57.54,97,100,1.39,overcast clouds
711,711,Pacific Grove,US,36.6177,-121.9166,75.58,64,19,1.99,few clouds
712,712,Marsa Matruh,EG,31.3525,27.2453,53.08,56,24,20.47,few clouds
714,714,Evans,US,33.5337,-82.1307,76.23,49,75,13.80,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
nan_value = float("NaN")
preferred_cities_df.replace("", nan_value, inplace=True)
preferred_cities_df.dropna(inplace=True)
preferred_cities_df.isnull().sum()

C:\Users\User\AppData\Local\Temp\ipykernel_7368\2298219957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.replace("", nan_value, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_7368\2298219957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.dropna(inplace=True)

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Alfred,ZA,-33.5906,26.8910,73.72,85,0,13.31,clear sky
3,3,Malmesbury,ZA,-33.4608,18.7271,71.78,52,10,6.69,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,79.41,71,30,15.28,light rain
6,6,Bloomfield,US,40.8068,-74.1854,57.97,20,0,18.41,clear sky
9,9,Businga,CD,3.3333,20.8833,77.34,75,98,5.08,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,Carutapera,BR,-1.1950,-46.0200,78.08,91,99,3.33,overcast clouds
710,710,Butembo,CD,0.1500,29.2833,57.54,97,100,1.39,overcast clouds
711,711,Pacific Grove,US,36.6177,-121.9166,75.58,64,19,1.99,few clouds
712,712,Marsa Matruh,EG,31.3525,27.2453,53.08,56,24,20.47,few clouds
714,714,Evans,US,33.5337,-82.1307,76.23,49,75,13.80,broken clouds

In [9]:
clean_df = preferred_cities_df.copy()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Alfred,ZA,-33.5906,26.8910,73.72,85,0,13.31,clear sky
3,3,Malmesbury,ZA,-33.4608,18.7271,71.78,52,10,6.69,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,79.41,71,30,15.28,light rain
6,6,Bloomfield,US,40.8068,-74.1854,57.97,20,0,18.41,clear sky
9,9,Businga,CD,3.3333,20.8833,77.34,75,98,5.08,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,Carutapera,BR,-1.1950,-46.0200,78.08,91,99,3.33,overcast clouds
710,710,Butembo,CD,0.1500,29.2833,57.54,97,100,1.39,overcast clouds
711,711,Pacific Grove,US,36.6177,-121.9166,75.58,64,19,1.99,few clouds
712,712,Marsa Matruh,EG,31.3525,27.2453,53.08,56,24,20.47,few clouds
714,714,Evans,US,33.5337,-82.1307,76.23,49,75,13.80,broken clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,73.72,clear sky,-33.5906,26.8910,
3,Malmesbury,ZA,71.78,clear sky,-33.4608,18.7271,
4,Rikitea,PF,79.41,light rain,-23.1203,-134.9692,
6,Bloomfield,US,57.97,clear sky,40.8068,-74.1854,
9,Businga,CD,77.34,overcast clouds,3.3333,20.8833,
10,Lebu,CL,60.51,clear sky,-37.6167,-73.6500,
11,Bredasdorp,ZA,68.95,broken clouds,-34.5322,20.0403,
13,Hobart,AU,55.26,overcast clouds,-42.8794,147.3294,
22,Ushuaia,AR,51.42,broken clouds,-54.8000,-68.3000,
23,Ponta Delgada,PT,63.32,scattered clouds,37.7333,-25.6667,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        # print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,73.72,clear sky,-33.5906,26.8910,The Halyards Hotel
3,Malmesbury,ZA,71.78,clear sky,-33.4608,18.7271,SuNel's Guest Rooms
4,Rikitea,PF,79.41,light rain,-23.1203,-134.9692,People ThankYou
6,Bloomfield,US,57.97,clear sky,40.8068,-74.1854,Troy Carroll
9,Businga,CD,77.34,overcast clouds,3.3333,20.8833,
...,...,...,...,...,...,...,...
703,Carutapera,BR,78.08,overcast clouds,-1.1950,-46.0200,Lidera
710,Butembo,CD,57.54,overcast clouds,0.1500,29.2833,Hotel Butembo
711,Pacific Grove,US,75.58,few clouds,36.6177,-121.9166,Lovers Point Inn
712,Marsa Matruh,EG,53.08,few clouds,31.3525,27.2453,Beau Site
714,Evans,US,76.23,broken clouds,33.5337,-82.1307,Evans hide out

In [14]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(inplace=True)
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [15]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,73.72,clear sky,-33.5906,26.8910,The Halyards Hotel
3,Malmesbury,ZA,71.78,clear sky,-33.4608,18.7271,SuNel's Guest Rooms
4,Rikitea,PF,79.41,light rain,-23.1203,-134.9692,People ThankYou
6,Bloomfield,US,57.97,clear sky,40.8068,-74.1854,Troy Carroll
10,Lebu,CL,60.51,clear sky,-37.6167,-73.6500,Hostal Las Lilas
...,...,...,...,...,...,...,...
703,Carutapera,BR,78.08,overcast clouds,-1.1950,-46.0200,Lidera
710,Butembo,CD,57.54,overcast clouds,0.1500,29.2833,Hotel Butembo
711,Pacific Grove,US,75.58,few clouds,36.6177,-121.9166,Lovers Point Inn
712,Marsa Matruh,EG,53.08,few clouds,31.3525,27.2453,Beau Site
714,Evans,US,76.23,broken clouds,33.5337,-82.1307,Evans hide out

In [16]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df.copy()
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Alfred,ZA,73.72,clear sky,-33.5906,26.8910,The Halyards Hotel
3,Malmesbury,ZA,71.78,clear sky,-33.4608,18.7271,SuNel's Guest Rooms
4,Rikitea,PF,79.41,light rain,-23.1203,-134.9692,People ThankYou
6,Bloomfield,US,57.97,clear sky,40.8068,-74.1854,Troy Carroll
10,Lebu,CL,60.51,clear sky,-37.6167,-73.6500,Hostal Las Lilas
...,...,...,...,...,...,...,...
703,Carutapera,BR,78.08,overcast clouds,-1.1950,-46.0200,Lidera
710,Butembo,CD,57.54,overcast clouds,0.1500,29.2833,Hotel Butembo
711,Pacific Grove,US,75.58,few clouds,36.6177,-121.9166,Lovers Point Inn
712,Marsa Matruh,EG,53.08,few clouds,31.3525,27.2453,Beau Site
714,Evans,US,76.23,broken clouds,33.5337,-82.1307,Evans hide out

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
for index, row in locations.iterrows():
    print (row["Lat"], row["Lng"])

-33.5906 26.891
-33.4608 18.7271
-23.1203 -134.9692
40.8068 -74.1854
-37.6167 -73.65
-34.5322 20.0403
-42.8794 147.3294
-54.8 -68.3
37.7333 -25.6667
40.1629 -8.3327
19.7297 -155.09
-46.1927 168.8643
48.9329 -125.5528
-0.9492 100.3543
-33.65 115.3333
-35.3333 -72.4167
27.9248 -15.5733
-33.9258 18.4232
-9.8 -139.0333
38.5167 -28.7
-27.6146 -48.5012
-28.7667 114.6
33.1222 46.1646
-28.783 32.0377
-33.0153 27.9116
-45.5752 -72.0662
-23.865 35.3833
-33.918 25.5701
-46.6 168.3333
39.05 -27.9833
-24.7911 -50.0119
37.1041 -113.5841
-38.2667 141.9667
0.5412 123.0595
-21.05 31.6667
-24.8667 113.6333
-45.8667 -67.5
-21.2 -175.2
-38.0023 -57.5575
-3.432 10.6554
-5.5502 150.1429
-53.15 -70.9167
-34.0033 24.7314
45.08 13.64
21.4022 -157.7394
45.5234 -122.6762
-3.8004 102.2655
9.4006 122.8169
28.1667 94.7667
-33.8667 121.9
1.1667 108.9667
38.421 -121.4238
-31.95 141.4333
-23.7 133.8833
39.1834 -84.5333
-12.3833 16.9333
-34.4187 19.2345
14.8961 -24.4956
32.6667 -17.1
34.8791 -76.9013
-24.5333 32.9833
-42.7826 147.0587
52.4443 15.1168
46.7958 11.9364
24.6333 -101.4167
41.3712 -73.414
14.9215 -23.5087
20.8947 -156.47
-34.7333 135.8667
-21.2078 -159.775
51.3813 1.3862
6.8837 116.8477
-30.1811 -50.2056
37.7167 -25.4333
22.0752 -159.319
-37.8811 147.981
27.3747 87.2039
-6.2167 155.6333
9.9658 98.6348
-23.3156 -46.2214
24.0934 32.907
25.5198 90.2201
-29.9533 -71.3436
28.017 -97.5169
24.3448 124.1572
5.3505 48.5268
23.4833 -103.8833
1.6381 18.0667
-17.7125 -39.2481
29.9697 40.2064
-35.35 150.4667
38.7333 -27.0667
27.9769 -114.0611
-29.7833 151.1167
30.3088 -89.33
43.2686 -7.5406
37.3394 -121.895
-9.1061 124.8925
-32.8167 -56.5167
26.1842 127.7558
-19.55 169.2667
-16.2325 39.9086
28.8724 105.4405
14.0453 124.1694
48.85 2.4333
28.9167 79.9667
17.0151 54.0924
-7.95 110.2833
-2.5447 14.7533
48.8145 3.085
47.4504 8.5299
4.9333 -52.3333
-46.2817 169.8464
12.4497 125.2886
10.9333 108.1
-41.8697 -73.8203
18.3333 105.9
7.1333 40.7
-9.6567 120.2641
-20.3297 -40.2925
6.0667 121.0667
32.3502 -85.1999
5.3848 95.9609
-45.4167 167.7167
-46.1333 167.6833
21.4267 39.8261
57.4667 -1.7833
11.6667 92.75
-10.0681 -78.1522
-39.0333 -67.5833
-33.2926 23.4895
-15.1165 39.2666
-37.3217 -59.1332
-31.4333 152.9167
51.0572 3.3788
38.4674 14.954
-28.9833 153.4167
-32.5 137.7667
43.1066 6.0172
-9.5402 16.341
7.9986 124.2928
51.0333 -4.2167
-15.5333 167.1667
24.7 -77.7667
-3.41 -39.0306
34.3834 -86.3333
-22.6667 167.4833
-14.2667 50.1667
29.5667 -104.4167
22.7333 -102.3667
22.2855 114.1577
-17.0 145.4333
21.3156 -158.0072
-34.4833 -54.3333
33.4353 -112.3582
-33.6971 -53.4616
-28.8667 153.5667
25.05 61.7417
-1.5746 9.2618
5.3833 -52.95
28.3667 129.4833
10.0667 34.5333
31.61 34.7642
-27.3667 -70.3333
34.1668 -82.1165
43.2333 -5.5333
26.1247 127.6694
47.6933 2.6309
-7.9386 110.2506
-13.7 -76.2167
42.376 -122.9164
38.6979 -9.4215
-33.295 -66.3356
6.1241 81.1185
43.5547 -5.9248
0.8 127.4
24.8 125.2833
40.5982 -124.1573
34.6391 -120.4579
2.9333 11.9833
9.7392 118.7353
25.2934 32.554
-14.6585 17.691
20.931 -17.0347
-6.8844 112.2051
55.85 9.4833
-5.3166 119.3661
43.5167 -8.1528
-5.2246 145.7966
-20.1 146.2667
1.2376 111.4621
40.4272 71.7189
-34.6667 -54.9167
-44.7 169.15
31.7561 25.0865
-15.8631 -38.8828
49.8167 7.1167
-26.5333 29.9833
22.5667 59.5289
-38.5473 -58.7368
-9.0763 143.2092
-1.5911 31.1403
-20.7333 139.5
31.6315 -8.0083
-35.1667 173.1667
-21.6403 -41.0511
-2.5333 112.95
42.1584 -72.3287
-17.6167 -66.0167
-11.0964 -77.6139
-23.35 47.6
14.6937 -17.4441
31.5917 54.4318
21.3469 -158.0858
34.4166 -79.3712
-12.497 131.047
20.8624 92.3058
34.261 -6.5802
25.2088 64.6357
-19.0595 -169.9187
-23.7167 44.3833
31.4451 12.9801
-3.945 122.4989
47.674 -122.1215
50.6848 14.6452
37.4636 -122.4286
-28.65 153.6167
38.6103 -89.3726
38.7666 -120.5177
-8.7676 160.7034
42.1668 -71.2495
32.0724 -84.2327
-21.3667 55.6167
-14.9003 50.2788
-33.0393 -71.6273
1.8911 33.9661
21.3906 -158.1547
41.5388 -8.6151
48.3833 -4.6167
-18.9186 -48.2772
29.1268 15.9477
26.5412 -77.0636
13.7667 109.2333
19.9103 109.6859
7.0805 -2.1697
-4.3167 20.5833
-33.7576 25.3971
50.8516 -1.1793
27.7523 -98.0697
23.8 -100.7333
-5.1036 30.3911
-6.1333 24.4833
-23.85 151.25
24.0333 84.0667
-34.3 -57.2333
-16.5 -68.15
-11.6066 34.2907
48.4044 2.6903
-35.85 -71.6
-1.6 103.6167
-3.4667 102.5333
-21.4833 27.4833
-23.6678 -46.4614
1.55 110.3333
-32.7167 152.15
21.6422 69.6093
33.1385 -95.6011
-3.6667 152.4333
50.1 1.8333
-5.0892 -81.1144
53.4106 -2.9779
28.4962 30.8029
20.45 106.3333
10.9995 122.6711
37.806 -8.6715
29.0605 -13.564
28.4008 -97.7483
-3.3667 135.4833
-16.9167 145.7667
-12.2333 136.7667
-20.0167 148.2333
53.5237 -2.4935
28.6585 -17.9182
-26.9566 24.7284
44.0 -0.6667
-1.195 -46.02
0.15 29.2833
36.6177 -121.9166
31.3525 27.2453
33.5337 -82.1307

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))